.dialogVerify {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display:  none;
    z-index:1001;
    
}

.dialogVerify .blackout {
    width: 100%;
    height: 100%;
    background-color: black;
    -moz-opacity: 0.9;
    opacity:.90;
    filter: alpha(opacity=90);
}

.dialogVerify .preview {
    position: absolute;
    top: 17%;
    left: 50%;
    width:  95%;
    min-height: 2px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.dialogVerify .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    
}

.dialogVerify .wrapper .upper {
    width:  100%;
    padding:  2%;
    padding-bottom:  0px;
    position: relative;
}

.dialogVerify .wrapper .accept {
    background-color: #3c9917;
    border-bottom: 2px solid #1c470b;
}

.dialogVerify .wrapper .reject {
    background-color: #f00;
    border-bottom: 2px solid #940505;
}

.dialogVerify .wrapper .ban {
    background-color: #bb1616;
    border-bottom: 2px solid #660b0b;
}

.dialogVerify .wrapper .iconWrapper {
    
    width:  20%;
    text-align: center;
}

.dialogVerify .wrapper .iconWrapper img {
    width:  100%;
    height:  auto;
}

.dialogVerify .wrapper .title {
    width: 75%;
    font-weight:  bold;
    position: absolute;
    font-size: 0.7em;
    top:  32%;
    left: 23%;
    color:  #fff;
    text-shadow:  1px 1px 1px #222;
    
}

.dialogVerify .wrapper .middle {
    width:  100%;
    padding:  8% 2% 0% 2%;
    text-align: center;
}

.dialogVerify .wrapper .middle .text {
    font-size: 0.6em;
    font-weight:  bold;
}

.dialogVerify .wrapper .lower {
    width: 100%;
    margin-top: 9%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.6em;
    border-top: 1px solid #bbb;
}

.dialogVerify .wrapper .lower td {
    width:  50%;
}

.dialogVerify .wrapper .lower .spacer {
    width: 1px;
    border-left:  1px solid #bbb;
}

.dialogVerify .wrapper .lower .button {
    width:  70%;
    padding:  5%;
    margin: 0px auto 0px;
    font-weight:  bold;
    color: #777;
}
